
/*DISEÑO PLANTILLA*/  
    .content-header{
        padding: 10px .5rem 0.5px !important; 
    } 
    .content-header .container-fluid h1 {
        font-size: 1.5rem !important;
    }  
    .content-wrapper>.content {
        padding: .5rem !important;
    }
    .content{
        background-color: #e2e4e3 !important; 
    }  
    .card-footer{
        background-color: #E0F4ED !important; 
    }  
    .btn-outline-info{
        color: #09044e !important; 
        border-color: #09044e !important;
    }

/*DISEÑO CONTROLES*/
    /*Radio*/ 
    .clearfix {
        padding: 0.5rem !important;
    }
    .clearfix .icheck-primary {
        padding-left: 10px;
    }

/*COLORES DE TEXTO*/
    .text-requerido {
        color: #FD0202;
        font-weight:bold;
    }

/*COLORES CRICULOS*/
    .circle-red {
        color: #F44336 !important;
    }
    .circle-green {
        color: #4CAF50 !important;
    }
    .circle-yellow {
        color: #eff31d !important;
    }
    .circle-blue {
        color: #0019f7 !important;
    }

/*MARCO DE FORMULARIOS CON TITULO*/
    fieldset.scheduler-border{
        border: 2px groove #2DC87B !important;
        padding: 0 0.8em 1.4em 0.8em !important;
        margin: 0 0.8em 1.5em 0.8em !important;
        box-shadow: 0px 0px 0px 0px #000 !important;
    }
    legend.scheduler-border{
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        font-family: Verdana;
    } 
    .labelcol{
        padding-right: 5px;
        padding-left: 5px;
    }

/*TAMAÑO DE LAS COLUMNAS EN DATATABLE*/
    .col-xxl{
        min-width: 400px !important;
    }
    .col-xl{
        min-width: 320px !important;
    }
    .col-l{
        min-width: 280px !important;
    }
    .col-lm{
        min-width: 220px !important;
    }
    .col-m{
        min-width: 180px !important;
    }
    .col-sm{
        min-width: 120px !important;
    }
    .col-s{
        min-width: 80px !important;
    }
    .col-xs{
        min-width: 10px !important;
    }

/*SOMBREAR FILA DE UNA DATATABLE*/
    table.dataTable tbody tr:hover {
        background-color:#C1DDE7 !important;
    }

    table.dataTable thead {background-color:#CED3E3}


body.swal2-toast-shown .swal2-container.swal2-shown {
    background: #28a745;
}

.swal2-toast {
    background: #ffffff;
}

.swal2-popup.swal2-toast .swal2-icon {
    margin-right: 10px;
}

.swal2-popup.swal2-toast.swal2-show {
    padding: 10px;
}

.evaluar-estado-proceso-background {
    color: #000;
}

.evaluar-estado-aprobado-background {
    background-color: #0af501;
}

.evaluar-estado-rechazado-background {
    background-color: #ff0700;
    color: #fff;
}

.evaluar-estado-observado-background {
    background-color: #fff200;
    color: #333;
}

.evaluar-estado-pendiente-background {
    background-color: #ff6900;
    color: #fff;
}

.evaluar-estado-proceso-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(1) {
    /*color: red;*/
}
.evaluar-estado-aprobado-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(2) {
    color: #0af501;
}
.evaluar-estado-rechazado-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(3) {
    color: #ff0700;
}
.evaluar-estado-observado-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(4) {
    color: #fff200;
}
.evaluar-estado-pendiente-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(5) {
    color: #ff6900;
}

table.table table.tbl-tramites tr.ar-content-buttons:hover > td div.ar-content-options {
	display: block !important;
}
