/********************************************************************/
/*               CSS MAIN FSC                                       */
/********************************************************************/  

/*Cabezera de Bienvenida*/
.nomcab{
    color:rgba(255,255,255,.75);
}

/*** Tab - Pestañas ***/
#tablab{
    background-color: #28a745;
}

.nav-link :active{
    color: #000000;
}

.nav-link{
    color: #ffffff;
}

/*** Card - Tarjetas ***/
.card-footer {
    background-color: #dff0d8;
}

/*** Modal - Ventana Emergente ***/
.modal-footer {
    background-color: #dff0d8;
    display: block;
}
