/********************************************************************/
/*               CSS MAIN FS                                        */
/********************************************************************/  

/*** CABEZERA BIENVENIDA ***/
    .nomcab{
        color:rgba(255,255,255,.75);
    }
/*** FIN CABEZERA BIENVENIDA ***/


/*** PANEL TABS FS ***/
    ul.tabfs{
        background-color: #28a745 !important;
    }
    .nav-link :active{
        color: #000000;
    }    
    .nav-link{
        color: #000000;
    }
/*** FIN PANEL TABS FS ***/


/*** CARD - TARJETAS ***/
    .card-footer {
        background-color: #dff0d8;
    }
/*** FIN CARD - TARJETAS ***/


/*** MODAL - VENTANA EMERGENTE ***/
    .modal-footer {
        background-color: #dff0d8;
        display: block;
    }
/*** FIN MODAL - VENTANA EMERGENTE ***/
