/********************************************************************/
/*               CSS MAIN FSC                                       */
/********************************************************************/  

/*** CABEZERA BIENVENIDA ***/
    .nomcab{
        color:rgba(255,255,255,.75);
    }
/*** FIN CABEZERA BIENVENIDA ***/


/*** PANEL TABS FSC ***/
    ul.tabfsc{
        background-color: #3c8dbc !important;
    }
    .nav-link :active {
        color: #000000;
    }
    .nav-link {
        color: #000000;
    }    
/*** FIN PANEL TABS FSC ***/


/*** CARD - TARJETAS ***/
    .card-footer {
        background-color: #D2D9DF;
    }
/*** FIN CARD - TARJETAS ***/


/*** MODAL - VENTANA EMERGENTE ***/
    .modal-footer {
        background-color: #D2D9DF;
        display: block;
    }
/*** FIN MODAL - VENTANA EMERGENTE ***/