@media (min-width: 250px) {
    #banerPrinc {
    background-image: url('Images/grupofs-fsc.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
}
